<div class="alert alert-{{ type ?? 'success' }} alert-dismissible">
    <i class="fas fa-exclamation-triangle mr-2"></i>
    {{ message | raw }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>