{% set url = path('app_front_category_show', {
    categoryId: category.id,
    categorySlug: category.slug,
}) %}

<article class="category">
    <a href="{{ url }}">
        <img src="{{ category.image.urlThumbnail }}" class="category-image" alt="{{ category.label }}">
        <h3 class="category-title">{{ category.label }}</h3>
    </a>
</article>
