{% extends '_layouts/app.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        {% for element in elementsToDisplayInHomepage %}
            {% include 'home/index_partials/' ~ element ~'.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
