$elements: h1, h2, h3, h4, h5, h6;

@each $element in $elements {
  #{$element}::first-letter {
    text-transform: capitalize;
  }
}

input, textarea:invalid {
  box-shadow: none;
}

label.required:after {
  content: ' *';
  color: $red;
}

input[type=checkbox] + label.required:after {
  content: '';
}

.pagination {
  user-select: none;
}

.invalid-feedback {
  display: block;
}

.breadcrumb a {
  text-decoration: none;
}

.form-group {
  margin-bottom: 1rem;
}

pre {
  outline: 1px dotted rgba($black, 0.1);
  padding: 1rem;

  .string {
    color: green;
  }

  .number {
    color: darkorange;
  }

  .boolean {
    color: blue;
  }

  .null {
    color: magenta;
  }

  .key {
    color: red;
  }
}


$card-size: 20rem;