.addresses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem 2rem;
  margin-bottom: 1rem;
}

.address {
  border: 1px solid rgba($black, 0.05);
  border-radius: 4px;
  padding: 1rem;
  padding-top: 4rem;
  box-shadow: 0px 10px 8px -4px rgba($black, 0.1);
  position: relative;

  &.selected {
    border-color: rgba($primary, 0.5);
    background-color: rgba($primary, 0.03);
  }

  &.address-add {
    min-height: 143px;
    padding: 0;
  }

  .btn-link {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}