.header-cart {
  padding: 0.25rem;
}

.header-cart-item, .purchase-cart-item {
  td {
    vertical-align: middle;
  }
}

.header-cart {
  tbody, tfoot {
    display: inline-table;
    width: 100%;
  }

  @media screen and (min-width: map-get($grid-breakpoints, "xl")) {
    tbody, tfoot {
      display: table-row-group;
    }
  }

  &.selected {
    display: block;
    left: auto;
    box-shadow: 0px 0px 9px -6px rgba($black, 0.8);
  }
}

.header-cart-item-image, .purchase-cart-item-image {
  margin-bottom: 0.5rem;
  margin-right: 0rem;
  display: block;

  @media screen and (min-width: map-get($grid-breakpoints, "xl")) {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
}

.header-cart-item-link {
  display: inline-block;
  max-width: 50vw;
  overflow-x: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: map-get($grid-breakpoints, "xl")) {
    display: inline;
  }
}

.cart-item-quantity {
  width: 4rem;
  text-align: center;
}

.header-cart-item-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-cart-item-icon, .purchase-cart-item-icon {

  i {
    width: 1rem;
    color: $gray-500;
  }
}

.header-cart-total, .purchase-cart-total {
  tr {
    text-align: right;

    &:first-child td {
      border-top: 1px solid rgba($black, 0.1);
    }

    td {
      padding: 0.2rem 0.75rem 0.2rem 0.2rem;
    }
  }
}

.header-cart-total-vat, .purchase-cart-total-vat {
  color: $gray-700;
  font-size: 0.9rem;
}
