.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($card-size, 1fr));
  gap: 1rem 1rem;
}

.category-image {
  width: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
}

.category-title {
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  text-align: center;
  background: $blue;
  color: $white;
  margin: 0;
}

.category {
  transition: opacity 0.3s, box-shadow 0.3s;
  opacity: 1;

  &:hover {
    opacity: 0.8;
    box-shadow: 0px 10px 8px -4px rgba($black, 0.1);
  }
}

.header-category-show {
  position: relative;
  min-height: 7rem;

  img {
    width: 100%;
    opacity: 0.5;
    max-height: 20rem;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.category-index {
  margin-top: 1rem;
}

.category-show {
  margin: 1rem 0;

  .page-link:focus {
    box-shadow: none;
  }

  .pagination {
    display: flex;
    justify-content: center;
  }
}

.category-media {
  .media {
    display: flex;
    margin: 1rem 0;
  }

  .media-link {
    margin-right: 1rem;
  }

  .media-title {
    font-size: 1rem;
  }

  img {
    max-width: 4rem;
  }
}