.category {
  max-width: 15rem;

  .card-title {
    font-size: 1.2rem;
  }
}

.category-index {
  img {
    max-width: 5rem;
  }

  h2 {
    font-size: 1rem;
  }

  .media {
    margin: 1rem 0;
  }

  .media-link {
    margin-right: 0.5rem;
  }
}

.header-category-show {
  position: relative;
  text-align: center;
  min-height: 4rem;
  margin-bottom: 1rem;

  h1 {
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  img {
    opacity: 0.2;
    width: 100%;
    max-height: 18rem;
  }
}
