.home-section {
  padding: 5rem 0;

  h2 {
    margin-bottom: 1rem;
  }

  &:nth-child(odd) {
    background-color: lighten($primary, 45%);
  }
}

.home-slide {
  padding: 0;

  .carousel-item {
    position: relative;

    &:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      content: '';
      background-image: linear-gradient(to top, rgba($black, 0.8), rgba($black, 0.2));
    }
  }

  .carousel-caption {
    z-index: 2;
  }

  img {
    width: 100%;
    max-height: 450px;
  }

}