.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($card-size, 1fr));
  gap: 1rem 1rem;
}

.products-category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;

  a {
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0px 10px 8px -4px rgba($black, 0.1);
  }
}

.product-img-top {
  width: 100%;
}

.product-title {
  margin-top: 1rem;
}

.product-text, .product-title {
  padding: 0 0.5rem;
}

.product-price {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.carousel-product-indicators {
  margin-top: 0.8rem;
  position: static;

  img {
    width: 100%;
    display: block;
  }

  li {
    width: 150px;
    height: auto;

    &:not(.active) {
      opacity: 0.35;
    }
  }
}

.nav-product-reference {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  border-top: 1px solid rgba($black, 0.3);
  border-bottom: 1px solid rgba($black, 0.3);
}

.nav-product-reference-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none !important;
  max-width: 20rem;
  margin: 0.5rem 0;

  &.selected {
    color: $white;
    background: $primary;
  }
}

.nav-product-reference-title {
  font-size: 1.1rem;
}

.nav-product-reference-image {
  max-width: 6rem;
  margin-right: 0.5rem;
}


.header-product-show {
  margin: 1rem 0;
}

.reference-addtocart {
  margin-bottom: 1rem;
  display: flex;
  align-items: stretch;

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.reference-price {
  font-size: 3rem;
}
