{% extends "_layouts/app.html.twig" %}

{% block title %}
    {% trans %}All categories{% endtrans %}
{% endblock %}

{% block body %}
    <main class="container">
        {{ breadcrumb(breadcrumb) }}

        <h1>{% trans %}All categories{% endtrans %}</h1>

        <section id="category-index" class="category-media">
            {{ html | raw }}
        </section>
    </main>
{% endblock %}
