{% extends '_layouts/app.html.twig' %}

{% block title product.label %}

{% block script 'product-show' %}

{% block body %}
    <main class="container">

        <section class="header-product-show">
            {{ breadcrumb(breadcrumb) }}
            <h1>{{ product.label }}</h1>
        </section>

        <section id="product-show">
            <div id="product-component" data-product-references="{{ normalizedProductReferences | json_encode }}"></div>

            <section>
                {{ product.description | raw }}
            </section>
        </section>

    </main>
{% endblock %}
