{% extends '_layouts/app.html.twig' %}

{% block title %}
    {{ product.label }}
{% endblock %}

{% block body %}
    <main class="container">
        {{ breadcrumb(breadcrumb) }}

        <section class="header-product-show">
            <h1>{{ product.label }}</h1>
        </section>

    </main>
{% endblock %}
