{% extends '_layouts/app.html.twig' %}

{% block title %}
    {{ product.label }}
{% endblock %}

{% block body %}
    <section class="container">
        <h1>{{ product.label }}</h1>

    </section>
{% endblock %}
