{% extends '_layouts/app.html.twig' %}

{% block title product.label %}

{% block body %}
    <main class="container">
        {{ breadcrumb(breadcrumb) }}

        <section class="header-product-show">
            <h1>{{ product.label }}</h1>
        </section>

        <section id="product-show">
            <div id="product-component" data-product-references="{{ normalizedProductReferences | json_encode }}"></div>

            <section class="mt-2 text-justify">
                {{ product.description | raw }}
            </section>
        </section>

    </main>
{% endblock %}
