{% extends '_layouts/app.html.twig' %}

{% block title %}Usurp an user{% endblock %}

{% block body %}
    <section class="container mt-4">
        <table class="table">
            <thead>
            <tr>
                <th>e-mail</th>
                <th>name</th>
                <th>admin ?</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ path('app_auth_security_usurp_show', {user: user.id}) }}">{{ user.email }}</a>
                    </td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.isAdmin ? 'admin' : '' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
