{% set slides = parameter('home', 'carousel') %}
{% set carouselId = 'carousel-home' %}

{% if slides is not empty %}
    <div class="splide home-section home-slide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for slide in slides %}
                    <li class="splide__slide">
                        <img src="{{ slide.img }}" alt="{{ slide.title }}">
                        <div class="carousel-caption">
                            <h2>{{ slide.title }}</h2>
                            <p>{{ slide.description }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}