{% set elements = parameter('home', 'elements') %}

{% if elements is not empty %}
    <section class="home-section elements">
        <div class="container">
            {% for element in elements %}
                <div class="element">
                    <h3 class="element-title">{{ element.title }}</h3>
                    <i class="element-icon {{ element.icon }}"></i>
                    <p class="element-paragraph">{{ element.paragraph ?? '' }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
