{% set elements = parameter('home', 'elements') %}

{% if elements is not empty %}
    <section class="home-section elements row">
        {% for element in elements %}
            <div class="col">
                <div class="element">
                    <i class="element-icon {{ element.icon }}"></i>
                    <h3>{{ element.title }}</h3>
                    <p>{{ element.paragraph ?? '' }}</p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endif %}
