{% set products = ProductService.productsInHome() %}

{% if products is not empty %}
    <section class="home-section home-product">
        <div class="container">
            <h2>{% trans %}Products in the spotlight{% endtrans %}</h2>
            <div class="products">
                {% for product in products %}
                    {% include '_partials/product.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}