{% extends '_layouts/app.html.twig' %}

{% block title %}My profile{% endblock %}

{% block script 'user-profile' %}

{% block body %}
    <main id="user-profile-component" class="container user-profile"></main>
{% endblock %}
