{% extends '_layouts/app.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}
    <main class="container">
        <h1>My profile</h1>

        Objective : SPA with React router!
    </main>
{% endblock %}
